{% extends "base.htm" %}
{% block content %}
{% include "header.html" %}

<div class="flash">
	{% with message = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li><strong>{{message}}</strong></li>
		{% endfor %}
	</ul>	
	{% endif %}
	{% endwith %}
</div>

<div class="container">
    <h1 class="header center orange-text">New item</h1>
  </div>

<div class="container">
  <div class="section">
    <div class="row">
      <!-- NEW ITEM FORM-->
      <form class="s12" action="{{ url_for('newItem')}}" method="post">
        <!-- name input -->
        <div class="input-field col s12 m6 input-blue">
          <input id="item_name" type="text" name="name">
          <label for="item_name">Name</label>
        </div>
        <!-- category input -->
        <div class="input-field col s12 m6 input-blue">
          <select name="category_id">
            <option value="" disabled selected>Choose a category</option>
            {% for category in categories %}
              <option placeholder="Choose a category" value="{{category.id}}">{{category.name}}</option>
            {% endfor %}
          </select>
          <label>Category</label>
        </div>
        <!-- description input -->
        <div class="row">
          <div class="input-field col s12">
            <textarea id="description" class="materialize-textarea" name="description"></textarea>
            <label for="desctiption orange">Description</label>
          </div>
        </div>
        <!-- submit button -->
        <div class="row center">
          <button type="submit" class="waves-effect waves-light btn orange" id="submit" type="submit">
            <i class="material-icons right">edit</i>
            Create
          </button>
        </div>
      </form>
    </div>
    <br><br>
    <div class="section">
    </div>
</div>

{% endblock %}  